body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:855px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:855px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:420px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
